name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Build with Buildozer
        uses: kkdai/buildozer-action@master
        with:
          save_buildozer_config: false
